.jumbotron {
  padding-top: 28px;
  padding-bottom: 8px;
  margin-bottom: 0;
}

.calendar {
  width: 100%;
}

.objects {
  width: 100%;
  height: 350px;
  background-color: #ccc;
}

.panel-group {
  margin: 10px 0 10px 0;
}

.panel-title {
  margin-top: -2px;
  margin-bottom: -2px;
  font-size: 16px;
}

.panel-group .panel + .panel {
  margin-top: 2px;
}

.panel-heading {
  padding: 4px 15px;
  height: 38px;
 }

.panel-body {
  padding: 0;
}

.cntBtn {
  display: table-cell;
  cursor: pointer;
  vertical-align: middle;
  width: 250px;
  height: 100px;
}
.lBtn {
  background-color: red;
}

.rBtn {
  background-color: green;
}

#myModalBox {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0 !important;
}

.modal-body {
  position: relative !important;
  padding: 0px 0px 0px 0px;
}

.fade {
  transition-property: opacity;
  transition-duration: 1.30s;
  transition-timing-function: cubic-bezier(1, 0.01, 1, 1);
  transition-delay: initial;
}

.modal-content {
  border: none;
  border-radius: 0px;
  outline: 1px dotted black;
}

#myDate {
  font-family: inherit;
  /* font-size: 0.92em; */
  font-size: 9pt;
  line-height: 1;
  text-align: right;
  padding-left: 24px;
}

#path {
  position: relative;
  vertical-align: middle;
}

.modal-dialog {
  margin-top: 125px;
}

@media (min-width: 760px) { .modal-dialog {
    width: 900px;
    margin: 70px auto;
}}

.SubmitBtn {
  height: 40px;
  width: 100%;
  line-height: 1.5;
  background-color: red;
  font-size: 19px;
  padding: 0px 0px 0px 0px;
  border-top: 1px dashed black;
  cursor: pointer;
}











